@tailwind base;
@tailwind components;
@tailwind utilities;

/* medievalsharp-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "MedievalSharp";
  font-style: normal;
  font-weight: 400;
  src: url("/docs/fonts/medievalsharp-v26-latin/medievalsharp-v26-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/docs/fonts/medievalsharp-v26-latin/medievalsharp-v26-latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/docs/fonts/inter-v13-latin/inter-v13-latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/docs/fonts/inter-v13-latin/inter-v13-latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/docs/fonts/inter-v13-latin/inter-v13-latin-600.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/docs/fonts/inter-v13-latin/inter-v13-latin-600.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("/docs/fonts/inter-v13-latin/inter-v13-latin-800.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/docs/fonts/inter-v13-latin/inter-v13-latin-800.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #093149;
  font-family: "Inter";
}

h2,
.medieval {
  font-family: "MedievalSharp";
}

/* HEADER */

header .hd_btn_left button {
  /* box-shadow: 3px 3px 3px grey; */
  height: 3rem;
  width: 10rem;
}

header {
  font-family: "Inter";
  font-weight: 600;
}

/* placeholder */
.logo {
  font-family: "Inter";
  font-weight: 800;
  font-size: 3rem;
}

.place_h:focus::placeholder {
  color: transparent;
}

/* menü anzeigen */
#menu-checkbox:checked ~ nav {
  display: block;
}

/* blendet sandwich bar oder checkbox ein, wenn ein- oder abgewählt wird */
#menu-checkbox:checked + label .sandwich-bar {
  display: none;
}

#menu-checkbox:checked + label .xmark {
  display: block;
}

/*ab md blendet search-bar ein */
#magn_check:checked + label .search {
  display: block;
}

/* MAIN */
